<section class="hero is-fullheight is-primary" style="background-image: url('/app/assets/images/Leonardo_Diffusion_XL_For_the_Trello_board_background_design_f_1.jpg'); background-size: cover; background-position: center;">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
          FakeBuster
      </h1>
      <h2 class="subtitle">
        Spot It. Report It. Stop It.
      </h2>
      <%= link_to 'Sign Up', new_user_registration_path, class: "button is-light" %>
      <%= link_to 'Log In', new_user_session_path, class: "button is-light" %>
    </div>
  </div>
</section>
