<section class="hero is-fullheight is-primary" style="background-image: url('/app/assets/images/Leonardo_Diffusion_XL_For_the_Trello_board_background_design_f_1.jpg'); background-size: cover; background-position: center;">
  <div class="hero-body">
    <div class="container has-text-centered">
      <%= image_tag('edison-logo-shield-only-5dc3ef2a826159dd0b33007164877010439f89c36b2a18cd327a4a407e12d799.svg', alt: 'YourAppName Logo', width: "200", height: "200") %>
      <h1 class="title">
        Welcome to YourAppName
      </h1>
      <h2 class="subtitle">
        Your premier destination for quality services.
      </h2>
      <%= link_to 'Sign Up', new_user_registration_path, class: "button is-light" %>
      <%= link_to 'Log In', new_user_session_path, class: "button is-light" %>
    </div>
  </div>
</section>
