<section class="hero is-primary" style="background-color: $primary;">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to Edison Report
      </h1>
      <h2 class="subtitle">
        Your premier destination for quality services.
      </h2>
    </div>
  </div>
</section>

<section class="section" >
  <div class="container">

    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="card-icon">
              <i class="fas fa-user-plus large-icon"></i>
            </div>
            <div class="content-align">
              <p class="title fixed-height-title">
                Join Our Community
              </p>
              <p class="subtitle">
                Sign up to become a part of our community.
              </p>
              <a class="button is-primary">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="card-icon">
              <i class="fas fa-download large-icon"></i>
            </div>
            <div class="content-align">
              <p class="title fixed-height-title">
                Get Our Extension
              </p>
              <p class="subtitle">
                Get our browser extension to identify and report counterfeit products.
              </p>
              <a class="button is-primary">Download</a>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="card-icon">
              <i class="fas fa-flag large-icon"></i>
            </div>
            <div class="content-align">
              <p class="title fixed-height-title">
                Help Us Identify Counterfeits
              </p>
              <p class="subtitle">
                Help us by reporting counterfeit products you find online.
              </p>
              <a class="button is-primary">List of Marketplaces</a>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="card-icon">
              <i class="fas fa-money-bill-alt large-icon"></i>
            </div>
            <div class="content-align">
              <p class="title fixed-height-title">
                Earn Your Rewards
              </p>
              <p class="subtitle">
                Earn rewards proportionally to the impact of your reports.
              </p>
              <a class="button is-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section" style="background-color: #f5f5f5;">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="card-icon">
              <i class="fas fa-search large-icon"></i>
            </div>
            <div class="content-align">
              <p class="title fixed-height-title">
                 We Collect Evidence
              </p>
              <p class="subtitle">
                Your reports enable us to meticulously document all necessary evidence of counterfeiting activities.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="card-icon">
              <i class="fas fa-user-check large-icon"></i>
            </div>
            <div class="content-align">
              <p class="title fixed-height-title">
                 We Sign Up Clients
              </p>
              <p class="subtitle">
                Your involvement helps us discuss potential outcomes and strategies with our clients.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="card-icon">
              <i class="fas fa-gavel large-icon"></i>
            </div>
            <div class="content-align">
              <p class="title fixed-height-title">
                 We Process Cases
              </p>
              <p class="subtitle">
                With your contributions, our legal team takes over to handle the lawsuit, ensuring all legal standards are met.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="card-icon">
              <i class="fas fa-hand-holding-usd large-icon"></i>
            </div>
            <div class="content-align">
              <p class="title fixed-height-title">
                 We Distribute Rewards
              </p>
              <p class="subtitle">
                After a successful lawsuit, rewards are distributed, celebrating the impact of your reports.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
