/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Define your custom colors first
$primary: #008080;
$secondary: #20B2AA;
$accent: #FF6F61;
$background: #F0F0F0;
$text: #333333;
$info: #20B2AA; // Light Teal
$danger: #FF6F61; // Coral
$warning: #FFA500; // Orange

// Then import Bulma
@import 'bulma';

body {
    background-color: $background;
    color: $text;
}

.hero.is-primary {
    background-color: $primary;
    color: $background;
}

.button.is-primary {
    background-color: $primary;
    border-color: $primary;
    color: $background;
}

.button.is-secondary {
    background-color: $secondary;
    color: $background;
}

.button.is-accent {
    background-color: $accent;
    color: $background;
}

.button.is-info {
    background-color: $info;
    border-color: $info;
    color: $background;
}

.button.is-danger {
    background-color: $danger;
    border-color: $danger;
    color: $background;
}

.button.is-warning {
    background-color: $warning;
    border-color: $warning;
    color: $background;
}

.card {
    background-color: $background;
    color: $text;
    border: 1px solid $primary;
}

.field-row {
    display: flex;
    align-items: right;
    margin-bottom: 10px;
}

.inline-label {
    width: 100%;
    text-align: left;
    padding-right: 10px;
}

.inline-input {
    width: 100%;
}

.inline-input[type="checkbox"] {
    min-width: 20px;
    height: 20px;
    accent-color: $primary; // Custom checkbox color
}

.checkbox-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: right;
}

.centered-submit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%;
    margin-bottom: 10px;
}

.card-icon {
    margin-bottom: 10px;
}

.card {
    height: 100%;
}

.title,
.subtitle {
    margin: 5px 0;
}

.button {
    margin-top: auto;
}

.content-align {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fixed-height-title {
    height: 108px;
    overflow: hidden;
}

.large-icon {
    color: $primary;
    font-size: 2em;
}
